<p><%= @user.name %></p>
<p>Created_at: <%= @user.created_at %></p>
<hr>
<p>最近发布</p>

<% @user.topics.map do |topic| %>
<%= link_to(topic.title, topic_path(topic)) %>
published <%= time_ago_in_words(topic.created_at) %> ago
<br>
<% end %>